#main_Home{
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    margin-top: 2rem;
}


#playlists_Container{
    display: flex;
    float: left;
    background: rgba(255, 255, 255, 0.50);
    width: 25vw;
    height: auto;
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 0.7rem;
    flex-direction: column;
    position: relative;
}
#playlists_Container h1{
    font-size: 2.3rem;
    padding-left: 3%;
    margin-bottom: 0.7rem;
}
.add_Playlists{
    width: auto;
    height: auto;
    position: absolute;
    bottom: 1%;
    right: 0;
}
.add_Playlists i{
    font-size: 4rem;
    color: #C571F1;
}


.playlist_Container {
    display: flex;
    align-items: flex-start; 
    background-color: #120D14;
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 0.5rem;
}
.playlist_Container img {
    width: 4vw;
    height: auto; 
    border-radius: 0.3rem;
}
.text_Container {
    min-height: calc(var(--texto-h1) + var(--texto-normal) + 1rem);
    display: flex;
    flex-direction: column; 
    margin-left: 0.5rem; 
    justify-content: space-between;
}
.playlist_Container h2 {
    font-size: var(--texto-h1);
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}
.playlist_Container p {
    font-size: var(--texto-normal);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.containers_Home{
    float: right;
    height: 300px;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;
    position: relative;
}
.user_Container_Home{
    width: 70vw;
}
.superiors_Container_Home{
    width: 100%;
}
.containers_Home h1{
    font-size: 2rem;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
}
.containers_Home .box_Covers_Container{
    background-color: rgba(255, 255, 255, 0.50);
    flex-grow: 1;
    width: 100%;
    border-radius: 0.8rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 200px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.box_Covers_Container::-webkit-scrollbar{
    display: none;
}
.box_Covers_Container.draggin{
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.box_Covers_Container.draggin .box_Covers{
    cursor: grab;
    user-select: none;
}
.slider_Container{
    position: absolute;
    top: 0;
    right: 0;
}
.slider_Container button{
    background-color: transparent;
    border: none;
    font-size: 2rem;
    margin-right: 1rem;
}
.slider_Container button:hover{
    color: #C571F1;
    transform: scale(1.1);
}
.box_Covers_Container .box_Covers{
    scroll-snap-align: start;
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}
.square_Covers .img_Container_BoxCovers img{
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}
.square_Covers .img_Container_BoxCovers{
    position: relative;
}
.square_Covers i{
    position: absolute;
    bottom: 3%;
    right: 3%;
    color: #120D14;
    font-size: 3rem;
    background-color: #C571F1;
    border-radius: 2rem;
}
.square_Covers p{
    max-width: 100%;
    font-size: 1rem;
    color: #120D14;
    font-weight: 600;
    text-align: center;
    height: auto;
}

.round_Covers .img_Container_BoxCovers img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.round_Covers p{
    max-width: 100%;
    font-size: 1.5rem;
    color: #120D14;
    font-weight: 700;
    text-align: center;
    height: auto;
}