*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: white;
   
}
body{
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #000 0%, #000 0.01%, #3f0e53 100%);
    font-family: consolas;
    
}
main{
    display: flex;
   align-content: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
}

.logi1{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(100px);
    box-shadow: 0 0 10px  #dcd3de;
    color: #fff;
    border-radius: 10px;
    padding: 10px 40px;
}
.logi1 h1{
    margin-top: 1%;
    
    font-size: 30px;
    text-align: center;
}
.logi1 .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #50205e;
    border-radius: 6px;
    font-size: 16px;
    padding: 20px 45px 20px 30px;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 19px;
    pointer-events: none;
}

input:focus ~label{
    transition: static;
    transition: 0.3s;
    top: 0;
    left: 15px;
    font-size: 16px;
    padding: 0 2px;
    background: linear-gradient(180deg, #000 0%, #000 0.01%, #3f0e53 100%);
}
input:valid ~ label {
	left: 16px;
	padding: 0 2px;
	top: 0;
    font-size: 16px;
}

/*-----------------------------------------*/
.input-box input::placeholder{
    color: #fff;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.logi1 .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    margin-right: 75px;
    margin-left: 40px;
}
.remember-forgot label input{
     accent-color: rgb(203, 91, 203);
     margin-right: 16px;
}
.remember-forgot a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
/*-----------------------------------------------------*/


.logi1 .c1{
    margin-left: 23%;
    background-color: transparent;
    border: none;
    text-align: center;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.botonTerminar{
    width: 100%;
    height: 100%;
    font-size: x-large;
    background: transparent;
    border: none;
}
.c1:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #d9bce1, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s;
}
.c1 span{
    position: absolute;
    display: block;   
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: #50205e;
}
.c1:hover #span1{
    left: 100%;
    transition: 1s;
}


#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: #50205e;
}
.c1:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: #50205e;
}
.c1:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: #50205e;
}
.c1:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
/*------------------------------*/
.logi1 .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 10px 0 5px;
}
.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}