*{
    padding: 0;
    margin: 0;
}


#main_Header{
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



#logo_Container, #user_Container{
    width: 5vw;
    height: 100%;
    display: flex;
}
#logo_Container img, #user_Container img{
    height: 100%;
}
#user_Container{
    position: relative;
}
#logo_Container img{
    width: 100%;
}
#user_Container img{
    border-radius: 3rem;
    right: 0;
    position: absolute;
}
#notification_Container{
    width: 20%;
    height: 25%;
    border-radius: 3rem;
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
}



#navegation_Conatiner{
    width: 30%;
    height: 60%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 3rem;
    overflow: hidden;
}
#navegation_Conatiner form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 3rem;
}
#navegation_Conatiner form label{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
#search_Container{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
}
#search_Container input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding-left: 2%;
    border: none;
    outline: none;
    font-size: var(--texto-normal);
    color: #5C5B5B;
}
#lupa_Container{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#lupa_Container i{
    font-size: 1.5rem;
    color: #5C5B5B;
}