@import url(style.css);
#mainPlayer {
    width: 99wh;
    height: 93vh;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

/* ______seccion donde va el reproductor ahsjajs_______ */
.songPlayer {
    height: 100%;
    width: 55%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* aqui esta toda la informacion de la cancion reproduciendose */
.currentSong {
    height: 100%;
    width: 90%;
    /* background-color: olive; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* primer div */
.currentSongImg {
    max-height: 60%;
    width: 60%;
    /* background-color: pink; */
}

/* segundo div */
.namesContainer {
    max-height: 15%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: violet; */
    padding: 4%;
    box-sizing: border-box;
    overflow: hidden;
}

.namesSong {
    font-weight: bolder;
    font-size: x-large;
    margin-bottom: 1%;
    margin-top: 1%;
    color: white;
    text-align: center;
}

.namesArtist {
    font-weight: 500;
    font-size: medium;
    margin-top: 1%;
    color: #C0BFC0;
    text-align: center;
}

/* tercer div */
.audioContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 60%;
    margin-top: 1rem;
}
  
.audioContainer .audioContainer__bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.audioContainer .audioContainer__bar .audioContainer__bar-time {
    color: white;
    font-size: 0.8rem;
    display: block;
    width: 2.5rem;
}
  
.audioContainer .audioContainer__bar .audioContainer__bar-progress {
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 0.3rem;
    border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
    cursor: pointer;
}
  
.audioContainer .audioContainer__bar .audioContainer__bar-progress-range {
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
    width: 0%;
    height: 0.3rem;
    border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    cursor: pointer;
}
  
.audioContainer .audioContainer__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
  
.audioContainer .audioContainer__buttons .audioContainer__buttons-volumen,
.audioContainer .audioContainer__buttons .audioContainer__buttons-change,
.audioContainer .audioContainer__buttons .audioContainer__buttons-play,
.audioContainer .audioContainer__others .audioContainer__others-button {
    background: none;
    display: block;
    width: min-content;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}
  
.audioContainer .audioContainer__buttons .audioContainer__buttons-volumen:hover,
.audioContainer .audioContainer__buttons .audioContainer__buttons-change:hover,
.audioContainer .audioContainer__buttons .audioContainer__buttons-play:hover,
.audioContainer .audioContainer__others .audioContainer__others-button:hover {
    opacity: 0.8;
}
  
.audioContainer .audioContainer__buttons .audioContainer__buttons-volumen-img {
    height: 1rem;
}
  
.audioContainer .audioContainer__buttons .audioContainer__buttons-change-img {
    height: 2rem;
}
  
.audioContainer .audioContainer__buttons #before__button {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
  
.audioContainer .audioContainer__buttons .audioContainer__buttons-play-img {
    width: 3rem;
    height: 3rem;
}

/* ______seccion donde va la fila de reproduccion_______ */
.playQueue {
    height: 100%;
    width: 45%;
    /* background-color: orange; */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* contenedor blanco  */
.queueContainer {
    height: 90%;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.50);
    border-radius: 20px;
    padding: 2%;
    box-sizing: border-box;
    
    /* overscroll-behavior: none; */
}

.containerTittle {
    height: 7%;
    width: 100%;
    color: white;
    font-size: x-large;
    font-weight: 700; 
}

/* lo que contiene las canciones en la fila */
.provisionalSongContainer {
    height: 90%;
    width: 100%;
    /* background-color: blue; */
    box-sizing: border-box;
    overflow: auto;
}

.provisionalSongContainer::-webkit-scrollbar {
    background-color: transparent;
    display: none;
  }

/* canciones en la fila asjaja ayuda */
.songQueueContainer {
    height: 12%;
    width: 100%;
    background-color: #120D14;
    border-bottom: 1px solid #C0BFC0;
    display: flex;
    justify-content: space-between;
}

/* contenedor imagen/nombre/artista */
.artistInfo {
    height: 100%;
    width: 80%;
    /* background-color: cadetblue; */
    padding: 1%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.imgContainer {
    height: 100%;
    max-width: 20%;
    /* background-color: hotpink; */
    overflow: hidden;
    border: none;
}

.albumImg, .songImg {
    width: 100%;  
    height: 100%; 
}

.nameSongNArtist {
    /* height: 100%; */
    flex-grow: 1;
    max-width: 82%;
    /* background-color: hotpink; */
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start;
    /* padding: 1%;
    box-sizing: border-box; */
    /* justify-content: flex-start; */
}

.nameSong, .nameArtist {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}

.nameSong {
    font-weight: bold;
    margin-bottom: 1%;
}

.nameArtist {
    font-size: small;
    margin-top: 1%;
}

/* contenedor duracion/like */
.songInfo{
    height: 100%;
    width: 20%;
    /* background-color: orangered; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.songInfoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
