@import url(style.css);
body{
    width: 100vw;
    height: 100%;
    background: linear-gradient(180deg, #000 0%, #000 0.01%, #3f0e53 100%);
    font-family: consolas;
}
main{
    width: 50rem;
    margin-left: 20%;

}
.tyc{
    width: 100%;
    text-align: center;
    padding-bottom: 2%;
    border-bottom: #3f0e53 solid 2px;
}